/* Start Container responsive */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: auto
}

@media (max-width: 767px) {
    .container {
        width: 100%
    }
}

@media (min-width: 768px) {
    .container {
        width: 738px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 962px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
/* End Container responsive */

/* Start navigation  */
@media (min-width: 768px) and (max-width: 1200px){
    nav ul  {
        display: none
    }
}
/* End navigation */


/* Start Header */
@media (max-width: 767px) {
    .bx-wrapper .bx-controls-direction a {
        top: 70%
    }
}
/* End Header */


/* Start servises */
@media (max-width: 767px) {
    .servises .item {
        width: 100%;
        margin-bottom: 40px;
        float: none
    }
}


@media (min-width: 768px) {
    .servises .item {
        width: 50%
    }
}

@media (min-width: 1200px) {
    .servises .item {
        width: 33.33333%
    }
}
/* End servises */


/* Start Our Team */
@media (max-width: 650px) {
    .our-team .box:first-child {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }

    .our-team .box:not(:first-child) {
        width: 50% !important;
        float: none;
        margin-left: 27% !important;
        margin: 0 auto 30px
    }
}

@media (max-width: 767px) {
    .our-team .box:first-child {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }

    .our-team .box:not(:first-child) {
        width: 22%;
        margin-left: 2%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .our-team .box:first-child {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }

    .our-team .box:not(:first-child) {
        width: 22%;
        margin-left: 2%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .our-team .box:first-child {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }

    .our-team .box:not(:first-child) {
        width: 22%;
        margin-left: 2%;
    }
}

@media (min-width: 1200px) {
    .our-team .box:first-child {width: 35%}

    .our-team .box:not(:first-child) {
        width: 14.25%;
        margin-left: 2%;
    }
}
/* End Our Team */

/* Start Testimonials */
@media (max-width: 767px) {
    .testimonials {
        min-height: 355px;
    }
}

@media (min-width: 768px) {
    .testimonials {
        min-height: 350px;
    }
    .testimonials h2 {margin-top: 75px}
}

@media (min-width: 992px) {
    .testimonials {
        min-height: 300px;
    }
    .testimonials h2 {margin-top: 75px}
}

@media (min-width: 1200px) {
    .testimonials {
        min-height: 310px;
    }
}
/* End Testimonials */

/* Start Protofolio */
@media (max-width: 767px) {
    .protofolio .container-img > div {
        width: 60%;
        float: none;
        margin: auto;
        margin-bottom: 30px;
    }

    .protofolio ul li {display: block; width: 90%; margin: 0 auto 20px}
}

@media (min-width: 768px) and (max-width: 991px) {
    .protofolio .container-img > div {
        width: 60%;
        float: none;
        margin: auto;
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .protofolio .container-img > div {
        width: 46%;
    }

    .protofolio .container-img > div:not(:nth-of-type(2)),
    .protofolio .container-img > div:not(:nth-of-type(4)),
    .protofolio .container-img > div:not(:nth-of-type(6)) {
        margin-right: 2%;
        margin-left: 2%;
    }
}

@media (min-width: 1200px) {
    .protofolio .container-img > div {
        width: 31.3333%;
    }

    .protofolio .container-img > div:not(:nth-of-type(2)),
    .protofolio .container-img > div:not(:nth-of-type(5)) {
        margin-right: 1%;
        margin-left: 1%;
    }
}
/* End Protofolio */

/* Start Footer */
@media (max-width: 767px) {
    footer .box-footer {
        width: 90%;
        margin-bottom: 50px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    footer .box-footer {
        width: 44.5%;
    }

    footer .box-footer:nth-of-type(2) {
        margin-bottom: 81px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    footer .box-footer {
        width: 47.5%;
    }

    footer .box-footer:nth-of-type(2) {
        margin-bottom: 56px;
    }
}

@media (min-width: 1200px) {
    footer .box-footer {
        width: 22.5%;
    }
}
/* End Footer */


